In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\InsurancePrediction\artifacts\train.csv")

In [5]:
df

,_id,age,sex,bmi,children,smoker,region,expenses
0,64b0fb1ed62ce184292e60cc,62,female,38.1,2,no,northeast,15230.32
1,64b0fd092ca7255ae9c0d4f6,41,male,23.9,1,no,northeast,6858.48
2,64b2725bd1880cb97632e133,46,male,39.4,1,no,northeast,8342.91
3,64b2718d131d2f42cddedef1,19,female,27.9,0,yes,southwest,16884.92
4,64b2718d131d2f42cddedffd,45,male,30.2,1,no,southwest,7441.05
...,...,...,...,...,...,...,...,...
9628,64b2718d131d2f42cddee32a,32,male,27.8,1,no,northwest,4454.40
9629,64b0f7ae40a3bc9cd8b64c7e,61,female,35.9,0,no,northeast,13635.64
9630,64b0fcb074378d6c11f8fef1,23,male,32.6,0,no,southeast,1824.29
9631,64b0fd092ca7255ae9c0d08d,28,female,37.6,1,no,southeast,3766.88
9632,64b0f7ae40a3bc9cd8b64a6a,58,female,31.8,2,no,northeast,13607.37

In [6]:
df.columns

Index(['_id', 'age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')